<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<meta name="author" content="www.ofym.com P359" />
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/animate.min.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/jquery.fancybox.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/slick.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/style.css" type="text/css" media="screen" charset="utf-8">
</head>
<style>
.site a::before {
	content: '' !important;
	width: 0 !important;
}
/*.site a{*/
        /*margin: 0;*/
        /*text-align: center;*/
        /*line-height: 45px;*/
    /*}*/
.header .top .share ul li a {
	text-align: center;
	line-height: 45px;
}
.header .top .share ul li a img {
	margin-right: 3px;
}
.header-container {
	position: relative;
}
 @media (min-width: 1200px) {
.header .nav {
	position: absolute;
	right: 4%;
}
}
.last-a {
	padding-right: 0 !important;
}
 @media (max-width: 1349px) {
.header .nav {
	right: 0;
}
}
</style>

<body>
{include file=head.html}
<div class="banner" id="banner">
  <div class="slickbanner">
    {pboot:slide gid=1 num=6}
    <div class="item">
      <div class="img-box"><img src="[slide:src]" title="" alt="" /></div>
    </div>
    {/pboot:slide} 
  </div>
</div>
<div class="content">
  <div class="box-list">
    <div class="container">
      <div class="list">
        <ul>
          {pboot:sort scode=5}
          <li>
            <div class="item item-product wow fadeInUpBig" data-wow-duration=".6s" data-wow-delay="0s"> <b>产品</b>
              <p><a href="[sort:link]">木工机械，数控旋切板一体机，数控无卡旋切机，无卡旋切机，木材倒圆机，木材进料机。</a></p>
              <a class="more" href="[sort:link]">了解更多+</a> </div>
          </li>
          {/pboot:sort}
          
          {pboot:sort scode=1}
          <li>
            <div class="item item-quality wow fadeInUpBig" data-wow-duration=".6s" data-wow-delay="0.3s"> <b>质量</b>
              <p><a href="[sort:link]">公司拥有完整科学的质量管理体系。它是中国最大的大型木工旋切机制造商之一。</a></p>
              <a class="more" href="[sort:link]">了解更多+</a> </div>
          </li>
          {/pboot:sort}
          
          {pboot:sort scode=1}
          <li>
            <div class="item item-service wow fadeInUpBig" data-wow-duration=".6s" data-wow-delay="0.6s"> <b>服务</b>
              <p><a href="[sort:link]">本厂以“严格的管理，质量与世界同步；精心的制造，创新和领导，追求客户满意”为宗旨，为广大客户提供优质服务。</a></p>
              <a class="more" href="[sort:link]">了解更多+</a> </div>
          </li>
          {/pboot:sort}
        </ul>
      </div>
    </div>
  </div>
  <div class="box box-product">
    <div class="container"> {pboot:sort scode=5}
      <div class="title-product wow fadeInUp" data-wow-duration=".8s"> <b>[sort:name]</b>
        <p>[sort:subname]</p>
      </div>
      {/pboot:sort}
      <div class="product wow fadeInUp" data-wow-duration=".8s">
        <ul>
          {pboot:list scode=5 num=4 order=sorting}
          <li>
            <div class="item"> <a class="img-box" href="[list:link]"><img class="lazy" data-src="[list:ico]" width="790" height="480" title="[list:title]" alt="[list:title]" /></a> <a class="note" href="[list:link]"> <b>[list:title lencn=16]</b>
              <p>[list:ext_canshu drophtml=1 lencn=80]</p>
              <span>了解更多 +</span> </a> </div>
          </li>
          {/pboot:list}
        </ul>
      </div>
    </div>
  </div>
  <div class="box box-about">
    <div class="container">
      <div class="title-about wow fadeInUp" data-wow-duration=".8s"> <b>关于我们</b> </div>
      {pboot:content scode=1}
      <div class="about wow fadeInUp" data-wow-duration=".8s">
        <p>[content:content drophtml=1 lencn=280]</p>
      </div>
      <div class="more wow fadeInUp" data-wow-duration=".8s"> <a href="[content:link]">了解更多 +</a> </div>
      {/pboot:content} </div>
  </div>
  <div class="box box-news">
    <div class="container">
      <div class="title-news wow fadeInUp" data-wow-duration=".8s"> <b>新闻中心</b> </div>
      <div class="news">
        <div class="row"> {pboot:list scode=2 num=4 order=sorting}
          <div class="col-xs-6 col-md-3 list wow fadeInUp" data-wow-duration=".8s">
            <div class="item"> <b><a href="[list:link]">[list:title lencn=30]</a></b>
              <div class="pic"> <a class="img-box" href="[list:link]"><img class="lazy" data-src="[list:ico]" width="340" height="150" title="[list:title]" alt="[list:title]" /></a>
                <div class="date">
                  <h3>[list:date style=M]</h3>
                  <span>[list:date style=d,Y]</span> </div>
              </div>
              <p><a href="[list:link]">[list:description lencn=60]</a></p>
            </div>
          </div>
          {/pboot:list} </div>
      </div>
    </div>
  </div>
</div>
{include file=foot.html} 
